torchvision
absl-py==0.15.0
einops==0.3.2
ftfy
gdown==3.13.1
hydra-core
matplotlib
numpy
packaging==24.1
pandas
pyrender
regex==2024.7.24
scipy
tensorboard==2.17.1
omegaconf
transformers
trimesh
natsort
fvcore
mplib
